<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wander List || Travel Guide</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/typography.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/script/scripts.js" defer></script>
</head>