@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/Cormorant-Regular.woff2') format('woff2'),
    url('../fonts/Cormorant/Cormorant-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/Cormorant-Bold.woff2') format('woff2'),
    url('../fonts/Cormorant/Cormorant-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/Cormorant-Medium.woff2') format('woff2'),
    url('../fonts/Cormorant/Cormorant-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/Cormorant-BoldItalic.woff2') format('woff2'),
    url('../fonts/Cormorant/Cormorant-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}